<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxuadmin">
            <SUBMENU id="mxusers" cl="admin_user" list="user_list">
                <TAB id="tbcluser_bonimascore" cl="d3bonimascore_user" />
            </SUBMENU>
            <SUBMENU id="mxugroups" cl="usergroup" list="usergroup_list">
                <TAB id="tbclusergroup_bonimascore" cl="d3bonimascore_usergroup" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <OXMENU id="d3mxd3modules">
        <MAINMENU id="d3bonimascore">
            <SUBMENU id="d3bonimascore_config"
                     cl="d3bonimascore_config_frame"
                     list="d3bonimascore_config_list">
                <TAB id="d3bonimascore_myconfig"
                     cl="d3bonimascore_config_main" />
            </SUBMENU>
            <SUBMENU id="d3bonimascore_manage"
                cl="d3bonimascore_matrix_frame"
                list="d3bonimascore_matrix_list">
                <TAB id="d3bonimascore_matrix"
                    cl="d3bonimascore_matrix_main" />
            </SUBMENU>
            <SUBMENU id="d3bonimascore_payments"
                cl="d3bonimascore_payment_frame"
                list="d3bonimascore_payment_list">
                <TAB id="d3bonimascore_mypayments"
                    cl="d3bonimascore_payment_main" />
            </SUBMENU>
            <SUBMENU id="d3mxlog" list="d3bonimascorelog_list" cl="d3bonimascorelog">
                <TAB id="d3tbcllog_main" cl="d3_cfg_log_main"/>
            </SUBMENU>
            <SUBMENU id="d3bonimascore_support"
                     cl="d3bonimascore_support" />
        </MAINMENU>
    </OXMENU>
</OX>